---
import { ViewTransitions } from 'astro:transitions'; // 1. Importamos la magia de Astro
import "../styles/global.css";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth"> 
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions /> </head>
	<body class="bg-orange-50 text-orange-950 font-sans antialiased overflow-x-hidden text-lg selection:bg-orange-400 selection:text-white">
		<slot />
	</body>
</html>